header{
    padding: 7rem 0 4rem 0;
    color: rgb(41, 3, 56);
}

.header_part1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header_part2{
    position: relative;
}

header #title_previous{
    font-size: 1.5rem;
    margin-bottom: -0.5rem;
}

header h1{
    font-size: 3rem;
}

.header_p1_buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1rem;
}

.header_p1_buttons a{
    text-align: center;
    padding: 0.8rem 0;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1rem;
    width: 15rem;
}

.header_p1_social_media{
    font-size: 2rem;
    color: rgb(41, 3, 56);
    margin-top: 2rem;
}

.img_header{
    width: 40rem;
    height: 30rem;
    background: url("../img/decoration.png");
    background-position: -20rem 15rem;
    background-size: 300%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hamburger{
    display: none;
}

@media (max-width: 1050px)
{
    header{
        margin-top: 5rem;
    }

    .header_part1{
        width: 100%;
    }

    .img_header{
        display: none;
    }

    .header_p1_buttons{
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 650px)
{
    header h1{
        font-size: 2.5rem;
    }

    .hamburger{
        position: absolute;
        right: 2rem;
        top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        z-index: 1001;
    }

    .hline{
        width: 2rem;
        height: 2px;
        background: #000;
        border-radius: 2px;
        transition: 0.3s ease;
    }

    .hamburger.active .hline:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .hline:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .hline:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}