main .img_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_text .p1{
    width: 50%;
}
.img_text .p2{
    width: 50%;
}


.img_text p{
    text-align: justify;
    width: 70%;
}

#section1{
    background: #4C3363;
    background: linear-gradient(90deg, rgba(76, 51, 99, 1) 0%, rgba(76, 51, 99, 1) 50%, rgba(102, 65, 140, 1) 100%);
    margin: 0 -5rem;
    color: #eee;
    position: relative;
    height: 25rem;
    margin-bottom: 2rem;
}

.image_section_1{
    width: 100%;
    height: 30rem;
    background: url("../img/avatar.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 20rem;
}

.p2 .texts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1050px)
{

    .image_section_1{
        display: none;
    }
    
    .img_text .p1{
        width: 0;
    }

    .img_text .p2{
        width: 100%;
        padding: 3rem 5rem;
    }

    .img_text p{
        width: 100%;
    }
}

.shape{
    width: 40%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    z-index: -1;
}

.shape_2{
    width: 40%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0rem;
    bottom: 10rem;
    z-index: -1;
}

.shape_3{
    width: 40%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(18rem);
    z-index: -1;
}

@media (max-width: 1050px)
{
    .shape_3{
        width: 40%;
        height: 30rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        right: 0;
        transform: translateX(3rem);
        bottom: 0;
        z-index: -1;
    }
    #section1{
        margin-bottom: 3rem;
    }
}

@media (max-width: 650px)
{
    #section1{
        margin: 0 -2rem;
        height: auto;
        margin-bottom: 3rem;
    }

    .img_text .p2{
        padding: 4rem 2rem;
    }
}