nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
}

nav p{
    color: rgb(41, 3, 56);
}

.nav_header{
    font-size: 1.5rem;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    background: url("../img/logo_notext.png");
    background-size: cover;
    background-position: center;
}

nav a{
    text-decoration: none;
    color: rgb(41, 3, 56);
}

.nav_buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav_buttons a{
    color: gray;
}

#hablemos_ahora_button{
    background: blueviolet;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 998;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}


@media (max-width: 800px)
{
    #hablemos_ahora_button{
        display: none;
    }
}

@media (max-width: 650px)
{
    nav{
        gap: 3rem;
    }

    #nav_header{
        position: absolute;
        width: 4rem;
        height: 4rem;
        left: 4rem;
        top: 2rem;
    }

    .nav_buttons{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        background: #4C3363;
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem;
        gap: 2rem;

        transform: translateX(-100%);
        transition: transform 0.4s ease;
    }

    .nav_buttons a{
        color: #eee;
        font-size: 1.1rem;
    }

    .nav_buttons.active{
        transform: translateX(0);
        z-index: 1;
    }
}