*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    position: relative;
}

body.active{
    overflow: hidden;
}

.content{
    padding: 2rem 5rem;
}

.desc{
    color: rgb(92, 92, 92);
    text-align: justify;
}

a:hover{
    transform: translateY(-0.2rem);
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
}

.title_2{
    font-size: 3rem;
    color: rgb(41, 3, 56);
}

.title_3{
    font-size: 1.5rem;
}

.title_gray{
    color: rgb(161, 161, 161);
    margin-bottom: -2rem;
    font-size: 1.1rem;
}

@media (max-width: 650px)
{
    .content{
        padding: 2rem 2rem;
    }
}

.back_to_top{
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    width: 50px;
    height: 50px;
    background: #4C3363;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: 0.3s ease;

    z-index: 1000;
}

.back_to_top.active{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}