*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body{
    font-family: 'Inter', sans-serif;
}

.content{
    padding: 2rem 5rem;
}

.desc{
    color: rgb(92, 92, 92);
    text-align: justify;
}

a:hover{
    transform: translateY(-0.2rem);
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
}

.title_2{
    font-size: 3rem;
    color: rgb(41, 3, 56);
}

.title_3{
    font-size: 1.5rem;
}

.title_gray{
    color: rgb(161, 161, 161);
    margin-bottom: -2rem;
    font-size: 1.1rem;
}

@media (max-width: 650px)
{
    .content{
        padding: 2rem 2rem;
    }
}