nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav p{
    color: rgb(41, 3, 56);
}

.nav_header{
    font-size: 1.5rem;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    background: url("../img/logo_notext.png");
    background-size: cover;
    background-position: center;
}

nav a{
    text-decoration: none;
    color: rgb(41, 3, 56);
}

.nav_buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav_buttons a{
    color: gray;
}

#hablemos_ahora_button{
    background: blueviolet;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: 8px;
}

@media (max-width: 1050px)
{
    nav{

        gap: 3rem;
    }

    #nav_header{
        position: absolute;
        width: 4rem;
        height: 4rem;
        left: 4rem;
        top: 2rem;
    }

    .nav_buttons{
        display: none;
    }

    #hablemos_ahora_button{
        display: none;
    }
}